<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport=100" content="width=device-width, initial-scale=1.0">
    <title>ShopBie</title>
    <link rel="stylesheet" href="./css/signup.css">
</head>
<body>
     {{!-- {{>navbar}} --}}
     <img src="./Images/bg_signup.png" alt="">
     <div class="page">
    <h1 style="color: white;">Sign Up</h1><br><br>
    <form action="/signup" method="post">
        <input type="text" placeholder="Name" name="name"><br><br>
        <input type="number" placeholder="Age" name="age"><br><br>
        <input type="text" placeholder="Username" name="username"><br><br>
        <input type="password" placeholder="Password" name="password"><br><br>
        <input type="submit" value="Register"><br><br>
        <a href="/login">Login</a>
        <a href="/home">Skip</a>
    </form>
    </div>
</body>
</html>