    <footer class="footer">
        <div style="background-color: rgb(0, 0, 0); margin-top: 3px; position: absolute; height: 23.1vw; width: 100%;">
        <div class="start">
            <img src="./Images/Shopbie2.png" alt="">
            <p style="color: rgba(255, 255, 255, 0.486);margin-left: 4.5vw;">The fashion expert now at your fingertips.</p>
        </div>
        <div class="footer-content">
        <div><p ><b style="letter-spacing: 1px;"> Information</b> <br><br><a href=""> About Us</a><br><a href=""> Return Policy</a>
           <br><a href="">Terms and Conditions</a></p></div>
        <div><p><b style="letter-spacing: 1px;">Customer Service</b><br>
            <br><a href="">Contact Us</a>
            <br><a href="">Order History</a>
        </p></div>
        <div>
            <p><b style="letter-spacing: 1px;">Connect with us on Social media</b><br>
                <br><a href=""><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instagram</a>
                <br><a href=""><i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a>
                <br><a href=""><i class="fa-brands fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Twitter</a>
          
        </div>
        
    </div>
    <p style="color: rgba(255, 255, 255, 0.493); margin-left: 5vw; margin-top: 2.8vw;">*Our site uses secure payment gateways and all major credits & debit cards accepted </p>
</div>

    </footer>