<nav>
        <img class="shopbie" src="../Images/Shopbie2.png" alt="">
        <input type="checkbox" name="" id="check" checked="0">
        <label for="check" class="menu"><i class="material-icons-outlined">menu</i></label>
        <ul>
            <li><a class="men" href="">MEN</a></li>
            <li><a href="">WOMEN</a></li>
            <li><a href="">KIDS</a></li>
            <li><a href="">ACCESSORIES</a></li>
            <li><a href="">SHOES</a></li>
        </ul>
            <input type="text" placeholder="ðŸ” Search for products and more..." class="search">
            <label class="wishlist-icon" for=""><i class="material-icons-outlined" style="font-size: 18px; margin: -10px 0px 0px 30px;position: relative; transition: 0.3s ease; cursor: pointer; background-color:transparent " >favorite_border<span class="wishlist">Wishlist</span></i></label>
            <label class="cart-icon" for=""><i class="material-icons-outlined" style="font-size: 18px; margin: -10px 0px 0px 30px;position: relative; transition: 0.3s ease; cursor: pointer;background-color:transparent">shopping_cart<span class="cart"><a  href="/cart"> Cart </a><span style="position: absolute;margin-top: -1.7rem;margin-left: -0.35rem;font-size:10px;background-color:rgba(139, 0, 0, 0.707);border: 1px solid rgba(139, 0, 0, 0.734); color:white; width: 0.95rem;border-radius: 50px;font-weight: bolder; padding: 1.3px">0</span></span></i></label>
            <label class="profile-icon" for=""><i class="material-icons-outlined" style="font-size: 19.5px;margin: -9px 0px 0px 25px; position: relative; transition: 0.3s ease; cursor: pointer;background-color:transparent">person_outline<span class="profile">Profile</span></i></label>
        

        
    </nav>
